.view-listing-container {
          padding: 15px;
          margin: 20px;
          background-color: #78866b;
          border-radius: 20px;
        }
        
        .listing-details-paper {
          padding: 20px;
          text-align: left;
          border-radius: 10px;
        }
        
.barrier {
  height: 20px;
}